.image {
  height: 95px;
  width: 125px;
}
.button {
  margin: 10px;
  color: #ffffff;
  border-style: none;
  background-color: transparent;
}

.list-item {
  display: flex;
  justify-content: space-between;
}
